@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added to include padding and border in the element's total width and height */
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: #0f1729;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #1a2332;
    padding: 2rem;
    border-radius: 8px;
    width: 400px; /* Adjusted width to 400px */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.logo {
    text-align: center;
    margin-bottom: 2rem;
}

.logo img {
    width: 150px;
    height: 150px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    color: #ffffff;
    margin-bottom: 0.5rem;
    text-align: center; /* Centered label text */
    margin: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #3d4d69;
    background-color: #0f1729;
    color: #ffffff;
    border-radius: 4px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #3b82f6;
}

.remember-me {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 0.875rem;
}

.remember-me input {
    margin-right: 0.5rem;
}

.forgot-password {
    text-align: center; /* Aligns text to the left */
    margin-top: 1.5rem;
    margin-bottom: 15px;
    font-size: 0.75rem; /* Adjusted font size to make it smaller */
}


.forgot-password a {
    color: #3b82f6;
    text-decoration: none;
    font-size: 0.875rem;
}

.login-button {
    background-color: #3b82f6;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100%; /* Makes the login button full width */
    text-align: center;
}

.login-button:hover {
    background-color: #1657be;
}
